#footer { text-align: center }
#footer .lastmodif {
    text-align: right;
    font-size: 80%;
}
#footer .lastmodif .date { font-style: italic; }

td .filedata { 
    font-size: 70%; 
    color: gray;
    white-space: nowrap;
}

td .filedata .missing-file { color: red}
